<div class="container-fluid">
	<h3 class="titulo_form_l text-center"><strong>Desempeño de <em><%=@usuario.nombre%> <%=@usuario.apellido%></em> en el cumplimiento del favor <br>"<%=@favor.titulo%>"</strong></h3>
</div><br>
<%= render 'form' %>