<div class="container-fluid">
	<h3 class="titulo_form_l text-center"><strong>Reseña para el desempeño de <%=@usuario.nombre%> <%=@usuario.apellido%> en el cumplimiento del favor "<%=@favor.titulo%>"</strong></h3>
</div>
<%= render 'form' %>