<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a través del link que se encuentra a continuación.</p>

<%if Rails.env.production? %>
	<% fullpath = "http://unagauchadaitw.herokuapp.com#{edit_usuario_password_path(@resource, reset_password_token: @token)}"%>
<%else%>
	<% fullpath = "http://localhost:3000#{edit_usuario_password_path(@resource, reset_password_token: @token)}"%>
<%end%>

<p><%= link_to 'Cambiar mi contraseña', fullpath %></p>

<p>Si no has sido tú quien lo ha solicitado, por favor ignora este mail.</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y crees una nueva.</p>

<p>Una Gauchada.</p>
