<button type="button" class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#modalFavor_<%= c.id %>">Eliminar</button>
<div class="modal fade" id="modalFavor_<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="borrando-logro">
  <div class="modal-dialog" role="document">
    <div class="modal-content msg">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="borrando-logro">¿Estás seguro/a de que querés eliminar el comentario?</h4>
      </div>
      <div class="modal-footer">
        <%= link_to "Eliminar", c, method: :delete, class: "btn btn-danger" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>