<% if current_usuario %>
	
      	<%= link_to "Salir" , destroy_usuario_session_path , method: :delete , role: 'button', class: 'btn btn-lg btn-warning pull-right session-sign' %>
      
      	<span class="label pull-right identification"> Hola <%= current_usuario[:nombre]%></span>
      
 <% else %>
 		

 		<%= link_to "Ingresar" , new_usuario_session_path , class: 'btn btn-lg btn-warning pull-right session-sign' %>

       	<%= link_to "Registrarse" , new_usuario_registration_path , class: 'btn btn-lg btn-warning pull-right session-sign' %>

<% end %>
