<div class="container-fluid">
	<h2 class="titulo_form_l text-center"><strong>Respuesta para "<%=truncate(@comentario.descripcion, length: 15, separator: ' ')%>"</strong></h2>
</div>
<%= render 'formR' %>