<table>

	<tr>

		<th> Logro </th>

		<th> Puntaje Mínimo </th>

		<th> Puntaje Máximo </th>

		<th> Editar </th>

		<th> Eliminar </th>

	</tr>

	<% @logros.each do |logro| %>

		<tr>

			<td> <%= logro.nombre %> </td>

			<td> <%= logro.puntaje_min %> </td>

			<td> <%= logro.puntaje_max %> </td>

			<td> <button type="button" class="btn btn-primary" onclick="">Editar</button> </td>

			<td> <%= link_to "Eliminar", logro, method: :delete, class: "btn btn-danger" %> </td>
		</tr>

	<% end %>

</table>
