/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-bottom: 40px;
  background-color: rgba(179,90,0, 0.5);
}

/*
Color del fondo de la barra
header .navbar-inverse{
  background-color: rgba(255,167,77, 0.5) !important;
}
*/


header .navbar-inverse .navbar-brand {
    color: white;
    font-size: 2em;
    font-family: Helvetica, 'Gibson', sans-serif, Arial, sans-serif;
    font-weight: bold;
    font-variant: normal;
    height: 150px;
  }
header .navbar-header>img {
    display: inline-block;
    margin-top: 10px;
  }

.session-sign{
  color: black;
  width: 130px;
  position: relative;
  text-align: center;
  margin-top: 127px;
  margin-right: 20px;
  background-color: #FF8119;
  border-color: black;
}

.logros-sign{
  color: black;
  width: 120px;
  text-align: center;
  margin-top: -13px;
  margin-right: 2px;
  background-color: #FFFFFF;
  border-color: black;
}

.modal-backdrop{
  z-index: 0;
}

.identification{
  color: #FF8119;
  position: relative;
  margin-top: 135px;
  margin-right: 10px;
  font-size: 24px;
  font-family: Helvetica, 'Gibson', sans-serif, Arial, sans-serif;
}

.confirmation-btn{
    width: 120px;
    height: 30px;
    margin-left: 15px; 
    margin-right: 15px; 
}

.confirmationb-btn{
    width: 200px;
    height: 32px;
    margin-left: 0px; 
    margin-right: 0px; 
}

.sel{
  border-radius:5px;
  border:1px solid #AAAAAA;
  width: 200px;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
}

header .navbar-brand .format-gauchada{
  margin-top: 70px;
  font-size: 40px;
}

.fondo-gauchada{
  left: 0;
  width: 100%;
  height: 180px;
  position:absolute;
  z-index: -1;
}



