.form_lbl_ttl{
	display: inline;
	position: relative;
	margin-right: 82px;
}
.form_lbl_ciu{
	display: inline;
	position: relative;
	margin-right: 72px;
}
.form_lbl_dsc{
	display: inline;
	position: relative;
	margin-right: 14px;
}
.form_lbl_fot{
	display: inline;
	position: relative;
	margin-right: 89px;
}

.areat{
	width: 200px;
	resize: vertical;
	max-height: 300px;
}

.field_favor{
	display:inline;
	position: relative;
	margin-left: 40px;
}

.favor_up{
	background-color: #f5f5f5;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 30px;
}

.favor_foto{
	display: inline;
	padding-top: 23px;
}

.favor_btn{
	position: relative;
	margin-left: 20px;
}

.favor_desc{
	padding-top: 20px;
	padding-left: 50px;
}

.favor_com{
	color: black;
}