// Place all the styles related to the logros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
	.container{
		.table table-hover{
			.titulo_form_l{
				text-align: center;
				font-family: 'Gill Sans', sans-serif, 'Gibson', sans-serif, Arial, sans-serif;
			}
		}
	}
}

.well{
	width: 600px;
}

.msg{
	position: relative;
	width: 500px;
	margin-top: 150px;
}

.submitter{
	display:inline;
	position: relative;
	margin-left: 40px;
}

.form_lbl_n{
	display: inline;
	position: relative;
	margin-right: 82px;
}
.form_lbl_min{
	display: inline;
	position: relative;
	margin-right: 30px;
}
.form_lbl_max{
	display: inline;
	position: relative;
	margin-right: 27px;
}

.titulo_misf{
	margin-left: -226px !important;
}
