.form_lbl_margin-l{
	display: inline;
	position: absolute;
	margin-left: 10px;
}


.perfil_up{
	background-color: #fbf8f4;
	//background-color: rgba(179,90,0, 0.5);
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 30px;
}

.perfil_foto{
	display: inline;
	padding-top: 5px;
	padding-left: 78px;
}

.perfil_desc{
	padding-left: 50px;
}

.perfil_txt{
	color: orange;
}

.perfil_adm{
	position: relative;
	margin-left: 27px;
	margin-top: 15px;
}

.shutdown{
	padding-left: 10px;
}