.form_lbl_margin-l{
	display: inline;
	position: absolute;
	margin-left: 10px;
}


.perfil_up{
	background-color: #f5f5f5;
	//rgba(179,90,0, 0.5)
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 30px;
}

.perfil_foto{
	display: inline;
	padding-top: 23px;
}

.perfil_desc{
	padding-top: 20px;
	padding-left: 50px;
}

.perfil_txt{
	color: orange;
	
}

.perfil_adm{
	position: relative;
	margin-left: 20px;
	margin-top: 15px;
}

.shutdown{
	padding-left: 10px;
}