// Place all the styles related to the usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well{
	width: 600px;
}

.submitter{
	display:inline;
	position: relative;
	margin-left: 30px;
}

.form_lbl_email{
	display: inline;
	position: relative;
	margin-right: 82px;
}


.form_lbl_pssw{
	display: inline;
	position: relative;
	margin-right: 30px;
}
