<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="{{URL::to('createusuario')}}">Ver</a></li>
            <li><a href="#">Modificar</a></li>
            <li class="divider"></li>
            <li><a href="#">Logro al que pertenece</a></li>
            <li><a href="#">Cantidad de puntos de logro</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favores<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="{{URL::to('createusuario')}}">Ver pedidos</a></li>
            <li><a href="#">Ver postulantes</a></li>
            <li><a href="#">Ver mis postulaciones</a></li>
            <li class="divider"></li>
            <li><a href="#">Pedir un favor</a></li>
          </ul>
        </li>
        <%if isAdmin?%>          
          <li ><a href="#">Logros<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <%end%>        
        <li ><a href="#">¿Filtros?<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
      </ul>
    </div>
  </div>
</nav>


<!--<div class="btn-group-vertical" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Ver</a></li>
          <li><a href="#">Modificar</a></li>
        </ul>
        
        <%#if isAdmin?%>
          <button type="button" class="btn btn-default"><%# link_to "Logros" , logros_path %></button>
        <%#end%>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Favores
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Pedir</a></li>
            <li><a href="#">Ver pedidos</a></li>
            <li><a href="#">Ver postulantes</a></li>
            <li><a href="#">Ver mis postulaciones</a></li>
          </ul>
    </div>
</div>-->