<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     
      <div class="container-fluid  ">
      <%# image_tag "https://drive.google.com/open?id=0ByQP-Vr8REtOd3V2VG1jWHpYdDA", class: "fondo-gauchada" %>
      <%= image_tag "logo.png", class: "fondo-gauchada" %>
        <%= render 'layouts/sessionbutton' %>
        
        

          <%= link_to root_path, class: 'navbar-brand' do %>
            <div class="navbar-header ">
            <%# image_tag "http://drive.google.com/open?id=0ByQP-Vr8REtOa1VjRjVLSVFhRkk", title: "Una Gauchada, el sitio en el que podés ser solidario", class: "logo" %>
            <%= image_tag "gauchada.png", title: "Una Gauchada, el sitio en el que podés ser solidario", class: "logo" %> 
             </div>
            <label class="format-gauchada">Una Gauchada</label>

          <% end %> 
       

        <div class="collapse navbar-collapse">
          
        </div><!--/.nav-collapse -->

      </div>

    </div>
  </header>