<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     
      <div class="container-fluid  ">
      <%= image_tag "gauchada.png", class: "fondo-gauchada" %>
        <%= render 'layouts/sessionbutton' %>
        
        

          <%= link_to root_path, class: 'navbar-brand' do %>
            <div class="navbar-header ">
            <%= image_tag "logo.png", title: "Una Gauchada, el sitio en el que podés ser solidario", class: "logo" %> 
             </div>
            <label class="format-gauchada">Una Gauchada</label>

          <% end %> 
       

        <div class="collapse navbar-collapse">
          
        </div><!--/.nav-collapse -->

      </div>

    </div>
  </header>